#body {
    width: 75%;
    text-align: center;
    margin: 50px auto;
}

.body-row {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.img-column, .text1, .text2 {
    float: left;
    width: 20%;
}

.img-column img {
    height: 95%;
}

.text-col1 {
    list-style: none;
    text-align: left;
    line-height: 3;
    padding: 0;
    margin: 15px;
}

.text-col-bottom {
    text-align: left;
    color: #858585;
    font-weight: 300;
    line-height: 2;
}

.text-col2 {
    list-style: none;
    text-align: left;
    line-height: 3;
    padding: 0;
    margin: 15px;
}